<template>
  <v-dialog v-model="opened" max-width="800" persistent>
    <v-form
      ref="form"
      v-model="valid"
      :readonly="!canEdit"
      @submit.prevent="save()"
    >
      <v-card :loading="loadingData" :disabled="loadingData">
        <v-card-title class="headline">
          Detil Pesanan
          <v-btn icon @click="close()" class="ml-auto">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row justify="center">
              <v-col cols="12" md="6">
                <v-list>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle>Kode Order</v-list-item-subtitle>
                      <v-list-item-title>{{ data.code }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle>Nama Paket</v-list-item-subtitle>
                      <v-list-item-title>{{
                        data.package_name
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle>Nama Paket</v-list-item-subtitle>
                      <v-list-item-title>{{
                        data.package_type == "parcel" ? "Parcel" : "Dokumen"
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle>Berat</v-list-item-subtitle>
                      <v-list-item-title
                        >{{ data.weight }} gr</v-list-item-title
                      >
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle>PxLxT</v-list-item-subtitle>
                      <v-list-item-title
                        >{{
                          data.length + " x " + data.width + " x " + data.high
                        }}
                        cm</v-list-item-title
                      >
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle
                        >Alamat Pengambilan</v-list-item-subtitle
                      >
                      <v-list-item-title>{{ data.address }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle
                        >Wilayah Pengambilan</v-list-item-subtitle
                      >
                      <v-list-item-title v-if="data.tasal">{{
                        data.tasal.name +
                          ", " +
                          data.tasal.district.name +
                          ", " +
                          data.tasal.district.city.name +
                          ", " +
                          data.tasal.district.city.province.name
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle>Penerima</v-list-item-subtitle>
                      <v-list-item-title>{{
                        data.recipients_name
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle
                        >Alamat Pengantaran</v-list-item-subtitle
                      >
                      <v-list-item-title>{{
                        data.destination
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle
                        >Wilayah Pengantaran</v-list-item-subtitle
                      >
                      <v-list-item-title v-if="data.ttujuan">{{
                        data.ttujuan.name +
                          ", " +
                          data.ttujuan.district.name +
                          ", " +
                          data.ttujuan.district.city.name +
                          ", " +
                          data.ttujuan.district.city.province.name
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle>Jarak</v-list-item-subtitle>
                      <v-list-item-title
                        >{{
                          data.distance
                            ? Math.round(data.distance / 100) / 10
                            : "-"
                        }}
                        km</v-list-item-title
                      >
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle>Harga</v-list-item-subtitle>
                      <v-list-item-title>{{
                        data.price
                          ? "Rp. " +
                            data.price
                              .toFixed(2)
                              .replace(/\d(?=(\d{3})+\.)/g, "$&,")
                          : "-"
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
              <v-col cols="12" md="6">
                <v-list>
                  <v-list-item>
                    <v-list-item-content v-if="data.member">
                      <v-list-item-subtitle>Customer</v-list-item-subtitle>
                      <v-list-item-title>{{
                        data.member.name || ""
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content v-if="data.driver">
                      <v-list-item-subtitle>Kurir</v-list-item-subtitle>
                      <v-list-item-title>{{
                        data.driver.name || ""
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content v-if="data.driver">
                      <v-list-item-subtitle>No. Tlp Kurir</v-list-item-subtitle>
                      <v-list-item-title>{{
                        data.driver.phone || ""
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content v-if="data.member">
                      <v-list-item-subtitle>Status</v-list-item-subtitle>
                      <v-list-item-title>
                        <v-chip dark :color="data.tstatus.color">
                          {{ data.tstatus.name }}
                        </v-chip>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content v-if="data.delivery_type">
                      <v-list-item-subtitle
                        >Jenis Pengiriman</v-list-item-subtitle
                      >
                      <v-list-item-title>{{
                        data.delivery_type == "sameday"
                          ? "Sameday"
                          : data.delivery_type == "nextday"
                          ? "Nextday"
                          : data.delivery_type == "regular"
                          ? "Regular"
                          : "-"
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content v-if="data.member">
                      <v-list-item-subtitle>Pembayaran</v-list-item-subtitle>
                      <v-list-item-title>{{ "Cash" }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle
                        >Tanggal Pemesanan</v-list-item-subtitle
                      >
                      <v-list-item-title>{{
                        data.created_at | moment("dddd, MMMM Do YYYY")
                      }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-col>
            </v-row>
            <hr />
            <v-row>
              <v-col cols="12">
                <v-timeline align-top dense>
                  <v-timeline-item
                    v-for="(item, index) in history"
                    :key="index"
                    :color="item.tstatus.color"
                    small
                  >
                    <v-row class="pt-1">
                      <v-col cols="3">
                        <strong>{{
                          item.created_at | moment("hh:mm A")
                        }}</strong>
                      </v-col>
                      <v-col>
                        <strong>{{ item.tstatus.name }}</strong>
                        <div class="text-caption">
                          {{ item.tstatus.description || "" }}
                        </div>
                      </v-col>
                    </v-row>
                  </v-timeline-item>
                </v-timeline>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-row no-gutters>
            <v-col cols="12" align="end">
              <v-btn
                depressed
                class="ma-1"
                :disabled="loading"
                @click="close()"
              >
                <v-icon small left>mdi-close</v-icon>
                Tutup
              </v-btn>
              <v-btn
                v-if="canEdit"
                type="submit"
                color="success"
                depressed
                class="ma-1"
                :loading="loading"
                :disabled="loading"
                @click.prevent="save()"
              >
                <v-icon small left>mdi-content-save</v-icon>
                Simpan
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import ApiService from "@/core/services/api.service";

export default {
  data() {
    return {
      action: "create",
      id: null,
      opened: false,
      loading: false,
      loadingData: false,
      valid: true,
      data: {
        id: "",
        code: "",
        package_name: "",
        member_id: "",
        driver_id: "",
        package_type: "",
        width: "",
        length: "",
        high: "",
        weight: "",
        address: "",
        address_lat: "",
        address_lng: "",
        destination: "",
        destination_lat: "",
        destination_lng: "",
        description: "",
        status: "",
        payment_type: "",
        price: "",
        distance: "",
        created_at: "",
        recipients_name: "",
      },
      history: [],
      rules: {
        slug: [(v) => !!v || "Slug is required"],
        name: [
          (v) => !!v || "Name is required",
          (v) =>
            (v && v.length <= 100) || "Name must be less than 10 characters",
        ],
      },
    };
  },
  props: {
    module: {
      type: String,
    },
    success: {
      type: Function,
      default: function() {},
    },
  },
  methods: {
    open(id) {
      this.opened = true;
      setTimeout(() => {
        // this.$refs.form.reset();
        if (id) {
          this.getData(id);
        }
      }, 1);
    },
    async getData(id) {
      this.loadingData = true;
      this.id = id;
      ApiService.get("order?id=" + id)
        .then(({ data }) => {
          this.data = data.data;
          this.history = data.history;
          // console.log(this.data.member);
          // this.data.member = JSON.parse(this.data.member);
          this.loadingData = false;
        })
        .catch(({ response }) => {
          if (response.data) {
            this.handleError(response.data);
          }
          this.loadingData = false;
        });
    },
    async save() {
      this.$refs.form.validate();
      if (this.valid) {
        this.loading = true;
        const order = !this.id ? "post" : "update";
        let url = "order";
        if (this.id) {
          url = url + "?id=" + this.id;
        }
        ApiService[order](url, this.data)
          .then(({ data }) => {
            if (data.id) {
              this.loading = false;
              this.success(data);
              this.$bvToast.toast("Records has been saved!", {
                title: "Saved",
                variant: "success",
                solid: true,
              });
              this.close();
            }
          })
          .catch(({ response }) => {
            if (response.data) {
              this.handleError(response.data);
            }

            this.loading = false;
          });
      }
    },
    handleError(data) {
      if (data.error) {
        this.$bvToast.toast(data.error, {
          title: "Oops",
          variant: "danger",
          solid: true,
        });
      }
    },
    close() {
      this.opened = false;
      this.id = null;
      // this.$refs.form.reset();
    },
  },
  computed: {
    canEdit() {
      if (
        this.id &&
        !this.$store.getters.hasPermission(this.module, "update")
      ) {
        return false;
      }

      return true;
    },
  },
};
</script>
