<template>
  <div>
    <div class="card card-custom gutter-b">
      <div class="card-body">
        <datatable
          ref="datatable"
          module="order"
          :title="title"
          :url="url"
          :columns="columns"
          :on-click-create="onClickCreate"
          :on-click-update="onClickUpdate"
          :on-click-delete="onClickDelete"
        ></datatable>
      </div>
    </div>
    <form-order ref="form" module="order" :success="formSuccess" />
    <!-- <delete-dialog
      ref="delete"
      url="action"
      :success="deleteSuccess"
    ></delete-dialog> -->
  </div>
</template>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Datatable from "@/view/component/Datatable.vue";
// import DeleteDialog from "@/view/component/DeleteDialog.vue";
import FormOrder from "./FormOrder";

export default {
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Manajemen User", route: "" },
      { title: "Tindakan" },
    ]);
  },
  data() {
    return {
      title: "Pemesanan",
      url: "order/data",
      columns: [
        {
          value: "id",
        },
        {
          text: "Kode",
          value: "code",
          sortable: true,
          searchable: true
        },
        {
          text: "Nama Paket",
          value: "package_name",
          sortable: true,
          searchable: true,
        },
        {
          text: "Nama Member",
          value: "member_name",
          sortable: true,
          searchable: true,
        },
        {
          text: "Alamat Pengambilan",
          value: "address",
          sortable: true,
          searchable: true,
        },
        {
          text: "Alamat Tujuan",
          value: "destination",
          sortable: true,
          searchable: true,
        },
      ],
    };
  },
  methods: {
    onClickCreate() {
      this.$refs.form.open();
    },
    onClickUpdate(item) {
      this.$refs.form.open(item.id);
    },
    onClickDelete(item) {
      this.$refs.delete.open(item.id);
    },
    formSuccess() {
      this.$refs.datatable.getData();
    },
    deleteSuccess() {
      this.$refs.datatable.getData();
    },
  },
  components: {
    Datatable,
    FormOrder
  },
};
</script>
