<template>
  <v-dialog v-model="opened" max-width="600" persistent>
    <v-form
      ref="form"
      v-model="valid"
      :readonly="!canEdit"
      @submit.prevent="save()"
    >
      <v-card :loading="loadingData" :disabled="loadingData">
        <v-card-title class="headline">
          {{ !id ? "Tambah" : "Edit" }} Tarif
          <v-btn icon @click="close()" class="ml-auto">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row justify="center" no-gutters>
              <v-col cols="12" md="10">
                <v-autocomplete
                  :loading="isLoadingRegionAsal"
                  :search-input.sync="searchRegionAsal"
                  label="Wilayah Asal"
                  placeholder="Ketik nama kelurahan atau kecamatan"
                  required
                  :clearable="canEdit"
                  dense
                  outlined
                  hide-selected
                  v-model="data.asal"
                  :items="listRegionAsal"
                  item-text="name"
                  item-value="id"
                  :rules="[(v) => !!v || 'Wilayah asal harus diisi']"
                ></v-autocomplete>
                <v-autocomplete
                  :loading="isLoadingRegionTujuan"
                  :search-input.sync="searchRegionTujuan"
                  label="Wilayah Tujuan"
                  placeholder="Ketik nama kelurahan atau kecamatan"
                  required
                  :clearable="canEdit"
                  dense
                  outlined
                  hide-selected
                  v-model="data.tujuan"
                  :items="listRegionTujuan"
                  item-text="name"
                  item-value="id"
                  :rules="[(v) => !!v || 'Wilayah tujuan harus diisi']"
                ></v-autocomplete>
                <v-text-field
                  label="Sameday"
                  required
                  dense
                  outlined
                  v-model="data.sameday"
                  :rules="rules.sameday"
                  type="number"
                ></v-text-field>
                <v-text-field
                  label="Nextday"
                  required
                  dense
                  outlined
                  v-model="data.nextday"
                  :rules="rules.nextday"
                  type="number"
                ></v-text-field>
                <v-text-field
                  label="Regular"
                  required
                  dense
                  outlined
                  v-model="data.regular"
                  :rules="rules.regular"
                  type="number"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-row no-gutters>
            <v-col cols="12" align="end">
              <v-btn
                depressed
                class="ma-1"
                :disabled="loading"
                @click="close()"
              >
                <v-icon small left>mdi-close</v-icon>
                Tutup
              </v-btn>
              <v-btn
                v-if="canEdit"
                type="submit"
                color="success"
                depressed
                class="ma-1"
                :loading="loading"
                :disabled="loading"
                @click.prevent="save()"
              >
                <v-icon small left>mdi-content-save</v-icon>
                Simpan
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import ApiService from "@/core/services/api.service";
import { slugify } from "@/core/utils";

var timeoutRegionAsal, timeoutRegionTujuan;
export default {
  data() {
    return {
      action: "create",
      id: null,
      opened: false,
      loading: false,
      loadingData: false,
      valid: true,
      isLoadingRegionAsal: false,
      searchRegionAsal: "",
      listRegionAsal: [],
      isLoadingRegionTujuan: false,
      searchRegionTujuan: "",
      listRegionTujuan: [],
      data: {
        asal: null,
        tujuan: null,
        sameday: null,
        nextday: null,
        regular: null,
      },
      rules: {
        slug: [(v) => !!v || "Slug is required"],
        name: [
          (v) => !!v || "Name is required",
          (v) =>
            (v && v.length <= 100) || "Name must be less than 10 characters",
        ],
      },
    };
  },
  props: {
    tarif: {
      type: String,
    },
    success: {
      type: Function,
      default: function() {},
    },
  },
  methods: {
    open(id) {
      this.opened = true;
      setTimeout(() => {
        this.$refs.form.reset();
        if (id) {
          this.getData(id);
        }
      }, 1);
    },
    async getData(id) {
      this.loadingData = true;
      this.id = id;
      ApiService.get("tarif?id=" + id)
        .then(({ data }) => {
          this.data = {
            asal: data.asal,
            tujuan: data.tujuan,
            sameday: data.sameday,
            nextday: data.nextday,
            regular: data.regular,
          };
          this.loadingData = false;
        })
        .catch(({ response }) => {
          if (response.data) {
            this.handleError(response.data);
          }
          this.loadingData = false;
        });
    },
    async save() {
      this.$refs.form.validate();
      if (this.valid) {
        this.loading = true;
        const action = !this.id ? "post" : "update";
        let url = "tarif";
        if (this.id) {
          url = url + "?id=" + this.id;
        }
        ApiService[action](url, this.data)
          .then(({ data }) => {
            if (data.id) {
              this.loading = false;
              this.success(data);
              this.$bvToast.toast("Records has been saved!", {
                title: "Saved",
                variant: "success",
                solid: true,
              });
              this.close();
            }
          })
          .catch(({ response }) => {
            if (response.data) {
              this.handleError(response.data);
            }

            this.loading = false;
          });
      }
    },
    async getListRegionAsal(val, isID) {
      this.isLoadingRegionAsal = "warning";
      this.listRegionAsal = await this.getListRegion(val, isID);
      this.isLoadingRegionAsal = false;
    },
    async getListRegionTujuan(val, isID) {
      this.isLoadingRegionAsal = "warning";
      this.listRegionTujuan = await this.getListRegion(val, isID);
      this.isLoadingRegionAsal = false;
    },
    async getListRegion(val, isID) {
      const { data } = await ApiService.post("region/list", {
        search: val,
        id: isID || false,
      });

      return data;
    },
    handleError(data) {
      if (data.error) {
        this.$bvToast.toast(data.error, {
          title: "Oops",
          variant: "danger",
          solid: true,
        });
      }
    },
    close() {
      this.opened = false;
      this.id = null;
      this.$refs.form.reset();
    },
  },
  watch: {
    ["data.name"](value) {
      this.data.slug = value ? slugify(value) : null;
    },
    searchRegionAsal(val) {
      if (!val || val.length < 2) {
        return;
      }
      clearTimeout(timeoutRegionAsal);

      timeoutRegionAsal = setTimeout(async () => {
        this.getListRegionAsal(val, false);
      }, 600);
    },
    searchRegionTujuan(val) {
      if (!val || val.length < 2) {
        return;
      }
      clearTimeout(timeoutRegionTujuan);

      timeoutRegionTujuan = setTimeout(async () => {
        this.getListRegionTujuan(val, false);
      }, 600);
    },
  },
  computed: {
    canEdit() {
      if (this.id && !this.$store.getters.hasPermission(this.tarif, "update")) {
        return false;
      }

      return true;
    },
  },
};
</script>
