<template>
  <div>
    <div class="card card-custom gutter-b">
      <div class="card-body">
        <datatable
          ref="datatable"
          module="tarif"
          :title="title"
          :url="url"
          :columns="columns"
          :filter="filter"
          :on-click-create="onClickCreate"
          :on-click-update="onClickUpdate"
          :on-click-delete="onClickDelete"
        >
          <template slot="action">
            <v-col cols="12" md="4">
              <v-autocomplete
                :loading="isLoadingRegion"
                :search-input.sync="searchRegion"
                label="Wilayah Asal"
                placeholder="Ketik nama kelurahan atau kecamatan"
                clearable
                dense
                outlined
                hide-selected
                v-model="wilayah"
                :items="listRegion"
                item-text="name"
                item-value="id"
              ></v-autocomplete>
            </v-col>
          </template>
          <template v-slot:[`item.sameday`]="{ item }">
            {{ formatPrice(item.sameday) }}
          </template>
          <template v-slot:[`item.nextday`]="{ item }">
            {{ formatPrice(item.nextday) }}
          </template>
          <template v-slot:[`item.regular`]="{ item }">
            {{ formatPrice(item.regular) }}
          </template>
          <template v-slot:[`item.asal`]="{ item }">
            {{
              item.tasal.name +
                "," +
                item.tasal.district.name +
                "," +
                item.tasal.district.city.name +
                "," +
                item.tasal.district.city.province.name
            }}
          </template>
          <template v-slot:[`item.tujuan`]="{ item }">
            {{
              item.ttujuan.name +
                "," +
                item.ttujuan.district.name +
                "," +
                item.ttujuan.district.city.name +
                "," +
                item.ttujuan.district.city.province.name
            }}
          </template>
        </datatable>
      </div>
    </div>
    <form-tarif ref="form" module="tarif" :success="formSuccess" />
    <delete-dialog
      ref="delete"
      url="tarif"
      :success="deleteSuccess"
    ></delete-dialog>
  </div>
</template>

<script>
import { SET_BREADCRUMB } from "@/core/services/store/breadcrumbs.module";
import Datatable from "@/view/component/Datatable.vue";
import ApiService from "@/core/services/api.service";
import FormTarif from "./FormTarif";
import DeleteDialog from "@/view/component/DeleteDialog.vue";

var timeoutRegion;
export default {
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Manajemen User", route: "" },
      { title: "Tindakan" },
    ]);
  },
  data() {
    return {
      title: "Tarif",
      url: "tarif/data",
      columns: [
        {
          value: "id",
        },
        {
          text: "Asal",
          value: "asal",
          sortable: true,
          searchable: true,
        },
        {
          text: "Tujuan",
          value: "tujuan",
          sortable: true,
          searchable: true,
        },
        {
          text: "Sameday",
          value: "sameday",
          sortable: true,
          searchable: true,
        },
        {
          text: "Nextday",
          value: "nextday",
          sortable: true,
          searchable: true,
        },
        {
          text: "Regular",
          value: "regular",
          sortable: true,
          searchable: true,
        },
      ],
      filter: null,
      isLoadingRegion: false,
      searchRegion: "",
      listRegion: [],
      wilayah: null,
    };
  },
  methods: {
    changeFilter() {
      this.filter = {
        column: "asal",
        value: this.wilayah,
      };
    },
    async getListRegion(val, isID) {
      this.isLoadingRegion = "warning";
      const { data } = await ApiService.post("region/list", {
        search: val,
        id: isID || false,
      });

      this.listRegion = data;
      this.isLoadingRegion = false;
    },
    onClickCreate() {
      this.$refs.form.open();
    },
    onClickUpdate(item) {
      this.$refs.form.open(item.id);
    },
    onClickDelete(item) {
      this.$refs.delete.open(item.id);
    },
    formSuccess() {
      this.$refs.datatable.getData();
    },
    deleteSuccess() {
      this.$refs.datatable.getData();
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(",", ".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
  },
  watch: {
    searchRegion(val) {
      if (!val || val.length < 2) {
        return;
      }
      clearTimeout(timeoutRegion);

      timeoutRegion = setTimeout(async () => {
        this.getListRegion(val, false);
      }, 600);
    },
    wilayah(val) {
      if (val) {
        this.changeFilter(val);
      } else {
        this.filter = null;
      }
    },
  },
  components: {
    Datatable,
    FormTarif,
    DeleteDialog,
  },
};
</script>
